::selection{
  background-color: #088178;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  /* background-color: rgb(234, 234, 234); */
}
.nav{
  padding: 1vw;
  /* background-color: black; */
  height: 20vh;
  width: 100%;
  border-bottom: 1px solid rgba(92, 89, 89, 0.338);
}
.upper-nav{
  display: flex;
  justify-content: space-evenly;
  /* background-color: grey; */
}
.nav img{
  height: 5vw;
  width: 5vw;
}
.search-box{
  /* background-color: red; */
  /* padding: 1vw; */
  width: 55vw;
  height: 4vw;
  border-bottom: 2px solid black;
  padding-left: 2vw;
  padding-top: 1.5vw;
}
.search-box select{
  background: transparent;
   width: 65px;
   /* padding: 5px; */
   font-size: 12px;
   /* line-height: 1; */
   border: 0;
   border-radius: 0;
   /* height: 34px; */
   -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    border: none;
    text-indent: 0.01px;
    text-overflow: '';
    outline: none;
}
.search-box span{
  padding: 0 10px;
  width: 10px;
}
.search-box input{
  border: none;
  width: 43vw;
  padding: 2px 4px;
  outline: none;
  background-color: white;
}
.nav-icons{
  border: 1px solid black;
  border-radius: 20px;
  height: 5vh;
  width: 12vw;
  padding-top: 5px;
  margin-top: 20px;
  display: flex;
  /* background-color: grey; */
  justify-content: space-around;
}
.lower-nav .links{
  /* background-color: red; */
  height: 6vh;
  width: 50%;
  margin-left: 20vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	float: center;
}
.lower-nav button{
	padding: 5px 10px;
  border: none;
  margin-top: 2vw;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
}
.lower-nav button:hover{
  color: #088178;
}
.links a{
  text-decoration: none;
  color: black;
  font-weight: 200;
}
.dropdown-bg{
	position: absolute;
	height: 25vh;
	width: 10vw;
	left: 1vw;
	opacity: 0;
	top: 5vw;
  font-size: 12px;
	background-color: rgb(255, 255, 255);
  border: 1px solid rgba(103, 101, 101, 0.183);
	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	transition:all ease .2s;
	visibility: hidden;
}
.dropdown-bg ul{
  list-style-type: none;
  padding: 10px;
}
.dropdown:hover .dropdown-bg{
	top: 3.8vw;
	opacity: 1;
  z-index: 10;
	visibility: visible;
}
.dropdown-bg2{
	position: absolute;
	height: 40vh;
	width: 15vw;
	left: 13vw;
	opacity: 0;
	top: 5vw;
	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(103, 101, 101, 0.138);
	transition:all ease .2s;
	visibility: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family:'Gill Sans MT';
}
.dropdown2:hover .dropdown-bg2{
  top: 3.8vw;
	opacity: 1;
  z-index: 10;
	visibility: visible;
}
.dropdown-bg3{
	position: absolute;
	height: 45vh;
	width: 70vw;
	left: -5vw;
	opacity: 0;
	top: 5vw;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(103, 101, 101, 0.138);
	transition:all ease .2s;
	visibility: hidden;
  display: flex;
  padding: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dropdown-bg3 .women{
  height: 20vw;
  width: 14vw;
  display: flex;
  padding: 10px;
  flex-direction: column;
  line-height: 2vw;
}
.dropdown-bg3 .men{
  height: 20vw;
  width: 14vw;
  display: flex;
  padding: 10px;
  line-height: 2vw;
  flex-direction: column;
}
.dropdown-bg3 .technology{
  height: 20vw;
  width: 14vw;
  display: flex;
  padding: 10px;
  line-height: 2vw;
  flex-direction: column;
}
.dropdown-bg3 a:hover{
  color: #08635d;
}
.image-box{
  background-color: grey;
  height: 20vw;
  width: 25vw;
  overflow: hidden;
  margin-top: .5vw;
  position: relative;
}
.image-box img{
  height: 100%;
  transition: all ease .5s;
  width: 100%;
}
.image-box img:hover{
  scale: 1.1;
}
.image-box-content{
  position: absolute;
  top: 3vw;
  left: 2vw;
  font-size: 20px;
  line-height: 3vw;
}
.image-box-content button:hover{
  color: white;
}
.dropdown3:hover .dropdown-bg3{
  top: 3.8vw;
	opacity: 1;
	visibility: visible;
  z-index: 10;
}
.dropdown-bg4{
	position: absolute;
	height: 30vh;
	width: 15vw;
	left: 29vw;
	opacity: 0;
	top: 5vw;
	background-color: rgb(255, 255, 255);
  border: 1px solid rgba(103, 101, 101, 0.138);
	transition:all ease .2s;
	visibility: hidden;
}
.dropdown4:hover .dropdown-bg4{
  top: 3.8vw;
	opacity: 1;
  z-index: 10;
	visibility: visible;
}
.dropdown-bg5{
	position: absolute;
	height: 30vh;
	width: 15vw;
	left: 35vw;
	opacity: 0;
	top: 5vw;
	background-color: rgb(255, 255, 255);
  border: 1px solid rgba(103, 101, 101, 0.138);
	transition:all ease .2s;
	visibility: hidden;
}
.dropdown5:hover .dropdown-bg5{
  top: 3.8vw;
	opacity: 1;
  z-index: 10;
	visibility: visible;
}
.slider-1-content{
  padding-top: 7vw;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 35px;
}
.slider-btn:hover{
  color: black;
}
.sq-background{
  /* background-color: grey; */
  height: 25vh;
  width: 75%;
  margin-left: 13vw;
  margin-top: 4vw;
  display: flex;
  justify-content: space-around;
}
.square{
  /* background-color: red; */
  border: 1px solid rgba(109, 106, 106, 0.378);
  height: 22vh;
  width: 10vw;
  margin: 1vw;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all ease 1s;
}
.square:hover{
  bottom: 1vw;
  /* background-color: red; */
}
.NavBtn button{
  font-weight: 700;
  margin: 10px 0px;
  background-color: #FDE1BD;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}
.NavBtn{
  height: 10vh;
  width: 30vw;
  position: relative;
  /* background-color: red; */
  margin:2vh 3vw;
  display: flex;
  justify-content: space-evenly;
}
.NavBtn button:hover{
  color: #08635d;
  padding-bottom: 2vw;
}
.viewMoreBtn{
  color: #13867E;
}
.viewMoreBtn:hover{
  color: #0c5853;
  font-style: italic;
}
.card-container{
  height: 120vh;
  width: 80%;
  margin-left: 12vw;
  margin-top: 5vh;
  display: flex;
  flex-flow: row wrap;
}
.card-container >div{
  border: 1px solid rgba(128, 128, 128, 0.33);
}
.card-container > div:hover{
  box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.264);
}
.card-title a{
  color: black;
  transition: all ease .4s;
}
.card-title a:hover{
  color: #13867E;
}
.add-cart-btn{
  height: 25px;
  width: 25px;
  border: 1px solid #13867e3e;
  border-radius: 50%;
  background-color: #E8F6EA;
  color: #08635d;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12vw;
  margin-top: -1.8vw;
  transition: all ease .2s;
}
.add-cart-btn:hover{
  color: white;
  background-color: #088178;
  margin-top: -2.2vw;
}
.hover-img-btn{
  display: flex;
  width: 10vw;
  left: 4vw;
  gap: 5px;
  top: 6vw;
  position: absolute;
}
.hover-img-btn button{
  height: 25px;
  width: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #088178;
  border: 1px solid #13867e3e;
  cursor: pointer;
  background-color: #E8F6EA;
  opacity: 0;
  transition: all ease .2s;
  z-index: 10;
}
.hover-img-btn button:hover{
  background-color: #088178;
  margin-top: -3px;
  color: white;
}
.card:hover .hover-img-btn button{
  opacity: 1;
}
.img-hover{
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all ease .5s;
}
.card:hover .img-hover{
  opacity: 1;
  transform: scale(1.03);
}
.panel-container{
  height: 35vh;
  width: 75%;
  background-color: grey;
  margin-left: 13vw;
  position: relative;
}
.panel-container:hover .panel-title{
  margin-left: .5vw;
}
.panel-btn{
  background-color: #088178;
}
.panel-btn:hover{
  background-color: #087770;
}
.DealCard-container{
  height: 20vh;
  width: 75%;
  margin-left: 13vw;
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
}
.DealCard-heading:hover{
  margin-left: 5px;
}
.cardSwiper-container{
  height: 55vh;
  width: 75%;
  margin-left: 13vw;
  margin-top: 2vw;
  overflow: hidden;
  /* background-color: grey; */
}
.cardSwiper-container-main{
  display: flex;
}
.cardSwiper-container-main >div{
  border: 1px solid rgba(128, 128, 128, 0.33);
}
.cardSwiper-container-main> div:hover{
  box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.264);
}
.swipe-btn button{
  background-color: #E8F6EA;
  color: #088178;
  transition: all ease .6s;
}
.swipe-btn button:hover{
  background-color: #088178;
  color: white;
}
.clockCard-container{
  width: 75%;
  height: 50vh;
  margin-left: 13vw;
  display: flex;
  justify-content: space-between;
}
.clockCard{
  height: 55vh;
  width: 36vw;
  background-color: rgba(176, 240, 235, 0.488);
}
.clockCard button{
  background: transparent;
  border: 2px solid green;
  font-size: 1vw;
  border-radius: 4px;
  padding: 5px;
  width: 8vw;
  margin-top: 2vw;
  cursor: pointer;
  transition: all ease .5s;
}
.timer-container > div{
  height: 30px;
  width: 35px;
  text-align: center;
  border-radius: 2px;
  background-color: greenyellow;
}
.brandSlider-container{
  height: 25vh;
  width: 75%;
  margin-top: 5vw;
  margin-left: 13vw;
  /* background-color: grey; */
}
.brandingCard-container{
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.brandingCard-container img{
  height: 10vh;
  width: 12vw;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
  margin-top: 2vw;
  transition: all ease .3s;
}
.brandingCard-container img:hover{
  filter: none;
  -webkit-filter: grayscale(0%);
}
.blog-container{
  height: 50vh;
  width: 75%;
  margin-left: 13vw;
  display: flex;
  margin-top: 2vw;
}
.blog-card1 button{
  border: none;
  cursor: pointer;
  font-size: 8px;
}
.blog-card2 button{
  border: none;
  font-size: 8px;
  cursor: pointer;
  background: transparent;
}
.blog-card3 button{
  border: none;
  font-size: 8px;
  cursor: pointer;
  background: transparent;
  color: green;
}
.variety-container{
  height: 45vh;
  width: 75%;
  background-color: grey;
  margin-left: 13vw;
  margin-top: 3vw;
}